{%extends 'base.html'%}

{%block title%}{{item.nome}}{%endblock%}

{%block content%}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{item.imagem.url}}" class="rounded-xl" style="max-width: 60%;">
    </div>


    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{item.nome}}</h1>
        <p class="text-gray-500"><strong>Preço: </strong>{{item.preco}}</p>
        <p class="text-gray-500"><strong>Vendedor: </strong>{{item.criado_por}}</p>
        {%if item.descricao%}
            <p class="text-gray-700"><strong class="text-gray-500">Descrição: </strong>{{item.descricao}}</p>
        {%endif%}

        {%if request.user == item.criado_por%}
        <div class="mt-6 p-6 bg-white rounded-xl">
            <p>Esse é o seu item</p>

            <a href="/item/edita/{{item.id}}" class="inline-block mt-6 px-6 py-3 text-lg text-white font-semibold bg-teal-500 rounded-xl">Editar</a>
            <a href="/item/delete/{{item.id}}" class="inline-block mt-6 px-6 py-3 text-lg text-white font-semibold bg-red-500 rounded-xl">Deletar</a>
        </div>
        {%endif%}

        <a href="/inbox/novo/{{item.id}}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Contatar vendedor</a>
    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Itens Relacionados</h2>

    <div class="grid grid-cols-3 gap-3">
        {%for item in itens_relacionados%}
        <div>
            <a href="/item/{{item.id}}">
                <div>
                    <img src="{{item.imagem.url}}" alt="{{item.nome}}" class="rounded-t-xl" width="400" height="500">
                </div>

                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="text-2xl">{{item.nome}}</h2>
                    <p class="text-gray-500">Preço: {{item.preco}}</p>
                </div>
            </a>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}